#card {
    width: 500px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) {
    #card {
        margin-top: 8%;
    }
}

@media screen and (min-width: 481px) {
    #card {
        margin-top: 4%;
    }
}

@media screen and (min-width: 769px) {
    #card {
        margin-top: 1%;
    }
}