#card {
    width: 500px;
}

.list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_item_dragging {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.25;
    background: #FFFFFF;
}

.list_check {
    margin: 0 10px 0 0;
}

#delete_btn:hover, .list_item:hover {
    cursor: pointer;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) {
    #card {
        margin-top: 8%;
    }
}

@media screen and (min-width: 481px) {
    #card {
        margin-top: 4%;
    }
}

@media screen and (min-width: 769px) {
    #card {
        margin-top: 1%;
    }
}